<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
        <div class="header">
            <div>
                <button onClick="location.href = '{{ path ('app_home')}}'">Accueil</button>
                <button onClick="location.href = '{{ path ('app_products')}}'">Mes produits</button>
                {% if app.user.email is defined %}
                    <button onClick="location.href = '{{ path ('app_logout')}}'">Deconnexion</button>
                    <button onClick="location.href = '{{ path ('admin_comments')}}'">Tous les commentaires</button>
                {% endif %}
                <button onClick="location.href = '{{ path ('view_product')}}'">Admin</button>
            </div>

            <div>
                <img class="logo" src="{{asset('assets/img/LogoDuSite.png')}}" alt="logo">
            </div>
        </div>
        {% block body %}{% endblock %}
    </body>
</html>
